.academic{
  background-color: $primaryCol;
  padding-bottom: 1rem;
  &__title{
    @include titleSectionStyle;
  }
  &__courses{
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 2rem 1rem;
    &__box{
      grid-column: span 4;
      border-radius: 1rem;
      &__icon{
        background-color: white;
        height: 30vh;
        display: flex;
        justify-content: center;
        align-items: center;
        margin-bottom: 0.5rem;
      }
      h4{
        font-weight: bolder;
      }
    }
  }
}