.menu {
  display: flex;
  justify-content: space-between;
  padding-block: 1rem;
  &__header {
    display: flex;
    font-weight: bolder;
    img{
        margin-right: 1rem;
    }
  }
  &__list {
    display: none;
    &__item{
      a{
        display: flex;
        flex-direction: column;
        div{
          width: 100%;
          height: 15px;
          background-image: url('../assets/zigzag.png');
          background-size: cover;
          position: relative;
          &::after{
            position: absolute;
            content: "";
            width: 105%;
            background-color: $bgCol;
            height: 105%;
            @include fastAnimate;
          }
          
        }
      } 
      &:hover>a>div::after{
        width: 0%;
      }
    }
  }
}