.skills{
  &__title{
    @include titleSectionStyle;
  }
  &__line{
    display: grid;
    grid-template-columns: repeat(6, 1fr);
    gap: 2rem 1rem;
    &__card{
      grid-column: span 3;
      background-color: white;
      border-radius: 1rem;
      text-align: center;
    }
  }
}